.logo {
  height: 50px;
  width: 50px;
}

.logo1 {
  margin-top: 50px;
  height: 150px;
  width: 450px;
  margin-bottom: 25px;
}

.font1 {
  font-family: 'Times New Roman', Times, serif;
}

.allign_left {
  align-items: flex-start;
  align-self: start;
}
.top_margin {
  margin-top: 20px;
  margin-bottom: 10px;
}

.x_margin {
  margin-left: 20px;
  margin-right: 20px;
}

.right_mar {
  margin-right: 5px;
  padding-bottom: 5px;
}

.from_border {
  width: 600px;
}
